@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.containerss {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
  }
  
  .containerss .coverss {
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
 
  .containerss .coverss{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  
  .containerss .coverss .frontss,
  .containerss .coverss .backss {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  
  .containerss .coverss::before,
  .containerss .coverss::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #594a42;
    opacity: 0.5;
    z-index: 12;
  }
  
  .containerss .coverss::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .containerss .coverss img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  
  .containerss .coverss .text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    z-index: 130;
  }
  
  .coverss .backss .text {
    z-index: 230 !important;
        text-shadow: 3px 0px 20px black;
  }
  
  .coverss .text .text-1,
  .coverss .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    z-index: 130 !important;
  }
  
  .coverss .text .text-2 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .containerss .formss {
    height: 100%;
    width: 100%;
    background: #fff;
  }
  
  .containerss .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .formss .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #293941;
  }
  
  .formss .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #293941;
  }
  
  
  .formss .form-content .input-boxes {
    margin-top: 30px;
  }
  
  .formss .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    /* flex-wrap: wrap; */
  }
  
  .form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c59a63;
    transition: all 0.3s ease;
  }
  
  .form-content .input-box input:focus,
  .form-content .input-box input:valid {
    border-color: #c59a63;
  }
  
  .form-content .input-box i {
    position: absolute;
    color: #c59a63;
    font-size: 17px;
  }
  
  .formss .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  .formss .form-content .text a {
    text-decoration: none;
  }
  
  .formss .form-content .text a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .formss .form-content .button {
    color: #293941;
    margin-top: 40px;
    background: #c59a63;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .formss .form-content .button:hover {
    background: #293941;
    color: #c59a63
  }
  
  .formss .form-content label {
    color: #b3a16d;
    cursor: pointer;
  }
  
  
  .formss .form-content .login-text,
  .formss .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
  }
  
  .login-form{
    width: 44%;
  }
  
  @media (max-width: 730px) {
    .containerss .coverss {
      display: none;
    }
  
.login-form{
      width: 100%;
    }
  
  
    .containerss #flip:checked ~ .formss .signup-form {
      display: block;
    }
  
    .containerss #flip:checked ~ .formss .login-form {
      display: none;
    }
  }
  .error {
    color: red;
  }
  .error-box {  
    font-size: 11px;
    -webkit-transition: color .3s cubic-bezier(.215, .61, .355, 1);
    transition: color .3s cubic-bezier(.215, .61, .355, 1);
  }